<!DOCTYPE HTML>
<html>
 <!----------------Content Mid
					---------------------->	

	<div class="content-mid">
	<div class="middle-content" style="margin-top:0px; margin-bottom:10px; margin-left:10px; margin-right:10px;border-style:none; box-shadow:none " >
	
	<!------------Content title------------->   
		<div class="row-fluid" style="height:80px">
		  <div class="col-sm-12" style="text-align:center"><p><h1>Here you invest and get experience</h1></p>
      </div>
    </div>
  <!------------------------->

		<div class="row">
		  <div class="col-sm-12">
		      <div style="margin-left:40px; margin-right:40px; margin-top:0px; padding-bottom:40px; padding-left:20px">
		      <br>
		      <p><h2 class="featurette-heading">Total Investment: <span style="color:green">$285</span></h2></p><br>
		      <p><h2 class="featurette-heading">Total Value: <span style="color:green">$295</span></h2></p><br>
		      <p><h2 class="featurette-heading">Total Gain/Loss: <span style="color:green">$10</span></h2></p><br>
		      <p><h2 class="featurette-heading">ROI: <span style="color:green">1.6%</span></h2></p>
		  </div></div>
		</div>
		    
	<!------------Portfolio Listings------------->
		    
    <div class="list-group" style="font-family:'Roboto'; font-size:14px; color:#666666;" >
    
      <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000">
          <img src="/assets/Isuruprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Bob chipped in SPYDR POOP index</h3><small class="text-muted">3 days ago</small>
          </div>
          </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
      </a>
      
      
      <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3">
          <div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Trump chipped in The Wall Fund</h3><small class="text-muted">3 days ago</small> </div>
          </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
      </a>
        
      <a href="#" class="list-group-item clearfix list-group-item-action align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3"><div style="height:140;border:0px solid #000">
          <img src="/assets/Isuruprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Bob chipped in SPYDR POOP index</h3><small class="text-muted">3 days ago</small> </div>
          </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
      </a>
      
      <a href="#" class="list-group-item clearfix list-group-item-action flex-column align-items-start" style="border-radius:0px">
        <div class="row">
          <div class="col-md-3"><div style="height:140;border:0px solid #000"><img src="/assets/Rashidprofile.jpg" class="img img-fluid" alt="Cinque Terre" width="100" height-max="100" style="margin-top:10px;margin-bottom:10px">
          </div></div><!----><div class="col-md-7 vcenter" style="margin-top:30px"><div style="height:80;border:0px solid #F00"><h3>Trump chipped in The Wall Fund</h3><small class="text-muted">3 days ago</small> </div>
          </div><!----><div class="col-md-2" style="margin-top:70px;text-align:right"><button type="button" class="btn btn-success btn-lg">Invest</button></div>
        </div>
      </a>
    </div>
    
  <!------------ End Portfolio Listings------------->  
    
	</div>
	<div class="clearfix"></div>
	</div>

<!---->

</body>
</html>