<!DOCTYPE HTML>
<html lang="en-US" dir="ltr"  data-config='{"twitter":0,"plusone":0,"facebook":0,"style":"minimal"}'>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fiduty &raquo; Investing made cool</title>
<link rel="shortcut icon" href="/wp-content/themes/yoo_luna_wp/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/wp-content/themes/yoo_luna_wp/apple_touch_icon.png">
<link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/fiduty.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.6.1"}};
			!function(a,b,c){function d(a){var c,d,e,f,g,h=b.createElement("canvas"),i=h.getContext&&h.getContext("2d"),j=String.fromCharCode;if(!i||!i.fillText)return!1;switch(i.textBaseline="top",i.font="600 32px Arial",a){case"flag":return i.fillText(j(55356,56806,55356,56826),0,0),!(h.toDataURL().length<3e3)&&(i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,65039,8205,55356,57096),0,0),c=h.toDataURL(),i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,55356,57096),0,0),d=h.toDataURL(),c!==d);case"diversity":return i.fillText(j(55356,57221),0,0),e=i.getImageData(16,16,1,1).data,f=e[0]+","+e[1]+","+e[2]+","+e[3],i.fillText(j(55356,57221,55356,57343),0,0),e=i.getImageData(16,16,1,1).data,g=e[0]+","+e[1]+","+e[2]+","+e[3],f!==g;case"simple":return i.fillText(j(55357,56835),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode8":return i.fillText(j(55356,57135),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode9":return i.fillText(j(55358,56631),0,0),0!==i.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity","unicode9"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='validate-engine-css-css'  href='http://fiduty.com/wp-content/plugins/wysija-newsletters/css/validationEngine.jquery.css?ver=2.7.5' type='text/css' media='all' />
<link rel='stylesheet' id='easy-modal-site-css'  href='http://fiduty.com/wp-content/plugins/easy-modal/assets/styles/easy-modal-site.css?ver=0.1' type='text/css' media='all' />
<link rel='stylesheet' id='typed-cursor-css'  href='http://fiduty.com/wp-content/plugins/animated-typing-effect/assets/css/cursor.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='es-widget-css-css'  href='http://fiduty.com/wp-content/plugins/email-subscribers/widget/es-widget.css?ver=4.6.1' type='text/css' media='all' />
<script type='text/javascript' src='http://fiduty.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://fiduty.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/widgetkit/cache/uikit-076b0f21.js?ver=4.6.1'></script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/widgetkit/cache/wk-scripts-43a7448f.js?ver=4.6.1'></script>
<link rel='https://api.w.org/' href='http://fiduty.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fiduty.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fiduty.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.6.1" />
<link rel="canonical" href="http://fiduty.com/" />
<link rel='shortlink' href='http://fiduty.com/' />
<link rel="alternate" type="application/json+oembed" href="http://fiduty.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffiduty.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://fiduty.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffiduty.com%2F&#038;format=xml" />
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-82432707-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<link rel="icon" href="http://fiduty.com/wp-content/uploads/cropped-Fiduty-Logo-No-words-32x32.png" sizes="32x32" />
<link rel="icon" href="http://fiduty.com/wp-content/uploads/cropped-Fiduty-Logo-No-words-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://fiduty.com/wp-content/uploads/cropped-Fiduty-Logo-No-words-180x180.png" />
<meta name="msapplication-TileImage" content="http://fiduty.com/wp-content/uploads/cropped-Fiduty-Logo-No-words-270x270.png" />
<link rel="stylesheet" href="/wp-content/themes/yoo_luna_wp/styles/minimal/css/theme.css">
<link rel="stylesheet" href="/wp-content/themes/yoo_luna_wp/css/custom.css">
<script src="/wp-content/themes/yoo_luna_wp/warp/vendor/uikit/js/uikit.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/warp/vendor/uikit/js/components/autocomplete.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/warp/vendor/uikit/js/components/search.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/warp/vendor/uikit/js/components/tooltip.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/warp/vendor/uikit/js/components/sticky.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/warp/js/social.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/js/theme.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/js/lib/particles.min.js"></script>
<script src="/wp-content/themes/yoo_luna_wp/js/particles.js"></script>
</head>

<body class="home page page-id-36 page-template-default tm-isblog wp-front_page wp-page wp-page-36">

    
        <div class="tm-navbar-container  tm-navbar-absolute">

            
            <nav class="tm-navbar uk-navbar"
    data-uk-sticky="{'top': '.uk-block', 'animation': 'uk-animation-slide-top'}">

    <div class="uk-container uk-container-center">

                <div class="uk-grid uk-flex-middle uk-hidden-small">

            <div class="uk-flex-item-1">
                <ul class="uk-navbar-nav uk-hidden-small"><li class="uk-active"><a href="http://fiduty.com/" class="">Home</a></li><li><a href="http://fiduty.com/users/" class="">For Users</a></li><li><a href="http://fiduty.com/advisors/" class="">For Financial Advisors</a></li></ul>            </div>

                        <div class="uk-text-center">
                <a class="tm-logo uk-align-center" href="http://fiduty.com">
                    <img src="/wp-content/uploads/yootheme/Logo.png">                 </a>
            </div>
            
            <div class="uk-flex-item-1">
                <ul class="tm-nav-secondary uk-hidden uk-navbar-nav uk-float-right"></ul>
            </div>

        </div>
        
                <div class="uk-flex uk-flex-middle uk-flex-space-between uk-visible-small">

                        <a class="tm-logo-small uk-visible-small" href="http://fiduty.com"><img src="/wp-content/uploads/yootheme/Logo.png"></a>
            
                        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            
        </div>
        
    </div>

    
</nav>

<script>
(function($){
    var navbar    = $('.tm-navbar'),
        menuItems = navbar.find('.uk-navbar-nav > li'),
        logo      = $('a.tm-logo');

    if (menuItems.length && logo.length) {

        menuItems.filter(function(index) {
            return index > Math.floor(menuItems.length/2) - 1;
        }).appendTo('.tm-nav-secondary');

        $('.tm-nav-secondary').removeClass('uk-hidden');

    }

})(jQuery);
</script>

        </div>
    
        <div id="tm-top-a" class="tm-block-top-a uk-block uk-block-default  uk-height-viewport uk-flex uk-flex-middle tm-block-gradient" >
        <div class="uk-container uk-container-center">

            <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
                
<div class="uk-width-1-1"><div class="uk-panel uk-text-center widget_text"><h2>
<br>
<br>
<span class="typed-me" data-string0="Learn finance the fun way" data-string1="invest with friends and compete" data-type-speed="170" data-start-delay="1000" data-backspeed="150" data-back-delay="5000" data-loop="1" data-shuffle="1"></span>

<?php echo do_shortcode( '[typed string0="Learn finance the fun way" string1="invest with friends and compete" typeSpeed="170" startDelay="500" backSpeed="150" backDelay="5000" loop="1" shuffle="1"]' ) ?>

</h2>
</span>
<br>
<br>

<p>
</p>

<p></p>
        <button class="uk-button uk-button-large uk-button-primary uk-margin-center"><a href="#" class="eModal-2">JOIN PRE-TEST</a></button>

    </fieldset>
</form>
<p class="tm-text-lead">Fiduty - Investing for millennials made cool</p>
</div></div>
            </section>

        </div>
    </div>
    
        <div id="tm-top-b" class="tm-block-top-b uk-block uk-block-default tm-block-xlarge" >
        <div class="uk-container uk-container-center">

            <section class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
                
<div class="uk-width-1-1 uk-width-large-1-2"><div class="uk-panel widget_text"><p class="tm-text-lead">Learn more about us</p>
<h2 class="tm-heading-line">we rank &amp; review <br class="uk-visible-large">financial tools</h2></div></div>

<div class="uk-width-1-1 uk-width-large-1-2"><div class="uk-panel widget_text"><p>Lack of transparency and comparison in the financial industry makes it almost impossible for any investor to quickly and efficiently find the best performing financial advisors or institutions. The person has to rely on his own expertise, feelings, recommendations or whatsoever upon considering an investment. </p>
<p class="uk-margin-large-top">Fiduty is a web platform that ranks financial advisors, helps to invest with them, and track the investments.</p>
<p class="tm-text-lead uk-margin-large-top">Follow us:</p>
<a href="#" class="uk-margin-right uk-icon-button uk-icon-facebook"></a>
<a href="#" class="uk-margin-right  uk-icon-button uk-icon-twitter"></a></div></div>
            </section>

        </div>
    </div>
    
    
    
        <div id="tm-main" class="tm-block-main uk-block uk-block-default tm-block-xlarge tm-block-smallwidth" >
        <div class="uk-container uk-container-center">
            <div class="tm-main uk-grid uk-position-relative" data-uk-grid-match data-uk-grid-margin>

                                <div class="tm-main uk-width-medium-1-1 uk-flex-order-last">

                    
                                        <main id="tm-content" class="tm-content">

                        
                            
    <article class="uk-article">

        
        
        <h1 class="uk-article-title tm-margin-large-bottom uk-text-center">CREDENTIALS</h1>
<a href="http://cse.cuny.edu/sites/" target="_blank"><img class="wp-image-158 alignleft" src="http://fiduty.com/wp-content/uploads/cse_logo-300x152.png" alt="cse_logo" width="304" height="154" srcset="http://fiduty.com/wp-content/uploads/cse_logo-300x152.png 300w, http://fiduty.com/wp-content/uploads/cse_logo.png 315w" sizes="(max-width: 304px) 100vw, 304px" /></a><a href="http://www.circlefund.co/" target="_blank"><img class="wp-image-159 alignright" src="http://fiduty.com/wp-content/uploads/giphy-2.gif" alt="giphy-2" width="152" height="152" /></a>
        
    </article>

    

                    </main>
                    
                    
                </div>
                
                                                
            </div>
        </div>
    </div>
    
    
    
    
        <div id="tm-bottom-d" class="tm-block-bottom-d uk-block uk-block-secondary uk-block-large" >
        <div class="uk-container uk-container-center">
            <section class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
                
<div class="uk-width-1-1"><div class="uk-panel uk-text-center widget_text"><p class="uk-text-large uk-margin-large">Invest wisely with Fiduty<br class="uk-hidden-small">Contact us for any additional information</p>
<ul class="uk-subnav tm-subnav-bullet uk-flex-center">
    <li><a href="mailto:ermek@fiduty.com">office@fiduty.com</a></li>
    <li>+1 (917) 650 5607</li>
</ul></div></div>
            </section>
        </div>
    </div>
    
        <footer id="tm-footer" class="tm-footer uk-block uk-block-secondary tm-block-small">
        <div class="uk-container uk-container-center">
            <div class="uk-flex uk-flex-middle uk-flex-space-between uk-text-center-small">

                                <div class="tm-footer-left">
                    <div class="uk-panel widget_nav_menu"><ul class="uk-subnav"><li><a href="http://fiduty.com/users/" class="">For Users</a></li><li><a href="http://fiduty.com/advisors/" class="">For Financial Advisors</a></li></ul></div>                                    </div>
                
                                <a class="tm-totop-scroller" data-uk-smooth-scroll href="#"></a>
                
                                <div class="tm-footer-right">
                    <div class="uk-panel widget_text"><a href="#" class="uk-margin-right uk-icon-hover uk-icon-facebook uk-icon-small"></a>
<a href="#" class="uk-margin-right  uk-icon-hover uk-icon-twitter uk-icon-small"></a></div>                </div>
                
                
            </div>
        </div>
    </footer>
    
            <div class="tm-smoothscroll-bar uk-flex uk-flex-middle uk-visible-large">
            <div class=" widget_text"><ul class="uk-dotnav uk-flex-column" data-uk-scrollspy-nav="{smoothscroll: {offset: 90}, closest:'li'}">
  <li><a href="#tm-top-a"></a></li>
  <li><a href="#tm-top-b"></a></li>
  <li><a href="#tm-main"></a></li>
 <li><a href="#tm-bottom-d"></a></li>
</ul></div>        </div>
    
    <div id="eModal-2" class="emodal theme-1 responsive medium" data-emodal="{&quot;id&quot;:&quot;2&quot;,&quot;theme_id&quot;:&quot;1&quot;,&quot;meta&quot;:{&quot;id&quot;:&quot;2&quot;,&quot;modal_id&quot;:&quot;2&quot;,&quot;display&quot;:{&quot;overlay_disabled&quot;:0,&quot;size&quot;:&quot;medium&quot;,&quot;custom_width&quot;:0,&quot;custom_width_unit&quot;:&quot;%&quot;,&quot;custom_height&quot;:0,&quot;custom_height_unit&quot;:&quot;em&quot;,&quot;custom_height_auto&quot;:1,&quot;location&quot;:&quot;center top&quot;,&quot;position&quot;:{&quot;top&quot;:100,&quot;left&quot;:0,&quot;bottom&quot;:0,&quot;right&quot;:0,&quot;fixed&quot;:0},&quot;animation&quot;:{&quot;type&quot;:&quot;fade&quot;,&quot;speed&quot;:&quot;350&quot;,&quot;origin&quot;:&quot;center top&quot;}},&quot;close&quot;:{&quot;overlay_click&quot;:0,&quot;esc_press&quot;:1}}}"><div class="emodal-content"><h2 style="text-align: center;"> </h2>
<h2 style="text-align: center;"> </h2>
<h2 style="text-align: center;">Chose a Survey</h2>
<h3 style="text-align: center;">Who would you best describe yourself as?</h3>
<p style="text-align: center;"><button class="uk-button uk-button-large uk-button-primary uk-margin-right"><a href="http://fiduty.com/users/" target="_blank">User</a></button><button class="uk-button uk-button-large uk-button-primary uk-margin-left"><a href="http://fiduty.com/advisors/" target="_blank">Professional</a></button></p>
</div><a class="emodal-close">&#215;</a></div><script type='text/javascript' src='http://fiduty.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://fiduty.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/easy-modal/assets/scripts/jquery.transit.min.js?ver=0.9.11'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var emodal_themes = [];
emodal_themes = {"1":{"id":"1","theme_id":"1","overlay":{"background":{"color":"#ffffff","opacity":100}},"container":{"padding":18,"background":{"color":"#f9f9f9","opacity":0},"border":{"style":"none","color":"#000000","width":1,"radius":80},"boxshadow":{"inset":"no","horizontal":1,"vertical":1,"blur":3,"spread":0,"color":"#020202","opacity":23}},"close":{"text":"BACK","location":"bottomright","position":{"top":"0","left":"0","bottom":"0","right":"1"},"padding":8,"background":{"color":"#e53d3c","opacity":100},"font":{"color":"#ffffff","size":12,"family":"Lucida Grande"},"border":{"style":"none","color":"#ffffff","width":1,"radius":0},"boxshadow":{"inset":"no","horizontal":0,"vertical":0,"blur":0,"spread":0,"color":"#020202","opacity":23},"textshadow":{"horizontal":0,"vertical":0,"blur":0,"color":"#000000","opacity":23}},"title":{"font":{"color":"#000000","size":32,"family":"Lucida Grande"},"text":{"align":"left"},"textshadow":{"horizontal":0,"vertical":0,"blur":0,"color":"#020202","opacity":23}},"content":{"font":{"color":"#8c8c8c","family":"Times New Roman"}}}};;
/* ]]> */
</script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/easy-modal/assets/scripts/easy-modal-site.js?defer&#038;ver=2' defer='defer'></script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/animated-typing-effect/assets/js/typed.js?ver=1'></script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/animated-typing-effect/assets/js/typed.fe.js?ver=1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var es_widget_notices = {"es_email_notice":"Please enter email address.","es_incorrect_email":"Please provide a valid email address.","es_load_more":"loading...","es_ajax_error":"Cannot create XMLHTTP instance","es_success_message":"Subscribed successfully.","es_success_notice":"You have successfully subscribed to the newsletter. You will receive a confirmation email in a few minutes. Please follow the link in it to confirm your subscription. If the email takes more than 15 minutes to appear in your mailbox, please check your spam folder.","es_email_exists":"Email Address already exists.","es_error":"Oops.. Unexpected error occurred.","es_invalid_email":"Invalid email address.","es_try_later":"Please try after some time.","es_problem_request":"There was a problem with the request."};
/* ]]> */
</script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/email-subscribers/widget/es-widget.js?ver=4.6.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var es_widget_page_notices = {"es_email_notice":"Please enter email address.","es_incorrect_email":"Please provide a valid email address.","es_load_more":"loading...","es_ajax_error":"Cannot create XMLHTTP instance","es_success_message":"Subscribed successfully.","es_success_notice":"You have successfully subscribed to the newsletter. You will receive a confirmation email in a few minutes. Please follow the link in it to confirm your subscription. If the email takes more than 15 minutes to appear in your mailbox, please check your spam folder.","es_email_exists":"Email Address already exists.","es_error":"Oops.. Unexpected error occurred.","es_invalid_email":"Invalid email address.","es_try_later":"Please try after some time.","es_problem_request":"There was a problem with the request."};
/* ]]> */
</script>
<script type='text/javascript' src='http://fiduty.com/wp-content/plugins/email-subscribers/widget/es-widget-page.js?ver=4.6.1'></script>
<script type='text/javascript' src='http://fiduty.com/wp-includes/js/wp-embed.min.js?ver=4.6.1'></script>

        <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip"><div class="uk-panel widget_search"><h3 class="uk-panel-title">Search</h3>
<form class="uk-search" id="search-search-1-584c7029efb48" action="http://fiduty.com/" method="get" >
    <input class="uk-search-field" type="text" value="" name="s" placeholder="search...">
</form>
</div>
<ul class="uk-nav uk-nav-offcanvas"><li class="uk-active"><a href="http://fiduty.com/" class="">Home</a></li><li><a href="http://fiduty.com/users/" class="">For Users</a></li><li><a href="http://fiduty.com/advisors/" class="">For Financial Advisors</a></li></ul>
<div class="uk-panel widget_text"><h3 class="uk-panel-title">About us</h3>Fiduty - a web platform that ranks financial advisors, allows to invest with them and track the investment. </div></div>
    </div>
    
</body>
</html>
