<!DOCTYPE HTML>
<html>
<head>
<title>Fiduty - Dashboard</title>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet">
<script src="js/jquery.min.js"> </script>

<!-- Mainly scripts -->
<script src="js/jquery.metisMenu.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
<script src="/assets/radial-progress-chart.min.js"></script>
<script src="/assets/users.js"></script>

<!-- Custom and plugin javascript -->
<link href="css/custom.css" rel="stylesheet">
<link href="/assets/users.css"></link>
<script src="js/custom.js"></script>
<script src="js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			});
		</script>

<!--skycons-icons-->
<script src="js/skycons.js"></script>
<!--//skycons-icons-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--Slider links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css"></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css"></link>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script> 

</head>


<!----------------Body
					---------------------->

<body style="font-family:'Roboto'; font-size: 20px; color:#666666;">
	
<!----Onboarding---->
	
	<div class="my-slider">
	 	 	<div class="container-fluid" style="background-color:rgba(51, 153, 204, 1);height:500px">
	<ul>
		<li>

	 <div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <h1 style="color:white; padding-top:120px; text-align:center">HEY THERE!<BR><BR>THIS IS HOW IT WORKS</h1>
        <br>
        <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div>
    </div>	

		</li>
		<li>
		 	<div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <h1 style="color:white; padding-top:50px; text-align:center">YOU NEED THREE SKILLS TO INVEST</h1>
    </div>
    </div>
	<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h1 style="color:white; padding-top:130px; text-align:center">UNDERSTAND</h1>
    </div><!----><div class="col-md-4" style="text-align:center">
    	<h1 style="color:white; padding-top:130px; text-align:center">TRY</h1>
       
    </div><!----><div class="col-md-4" style="text-align:center">
    	<h1 style="color:white; padding-top:130px; text-align:center">SOCIALIZE</h1>
    </div>
    </div>
    	<div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div>
    </div>
		</li>
		<li>
		 	<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h1 style="color:white; padding-top:200px; text-align:center">LETS START</h1>
        <br>
         <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div><!----><div class="col-md-6" style="text-align:center">
  <h1 style="color:white; padding-top:130px; text-align:center">EACH FEATURE IS ASSIGNED TO A SKILL. <BR><BR> DOING SOMETHING WILL ADD 0.1% TO THE SKILL.</h1><BR><a class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div>
    </div>
		</li>
		<li>
			<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h1 style="color:white; padding-top:200px; text-align:center">LETS START</h1>
        <br>
        <a class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>Start</h4></a>
  </div><!---><div class="col-md-6" style="text-align:center">
  <h1 style="color:white; padding-top:130px; text-align:center">DO TASKS<BR><BR> INCREASE LEVEL <BR><BR> UNLOCK PERKS </h1><br>
        <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div>
    </DIV>
		</li>
		<li>
		<div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <h1 style="color:white; padding-top:200px; text-align:center">GOAL: REACH 100% IN ALL THE SKILLS</h1>
        <br>
        <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>NEXT</h4></a>
    </div>
    </div>
		</li>
		<li>
			<div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <h1 style="color:white; padding-top:200px; text-align:center">LETS START</h1>
        <br>
        <a id="nextBtn" class="btn btn-default btn-lg" style="white-space: normal; color:white; background-color:transparent"><h4>START</h4></a>
    </div>
    </div>	
		</li>
	</ul>
	</div>
</div>

<!----End Onboarding---->





  <%= render partial: '/layouts/header' %>
  <%= render partial: '/layouts/nav' %>


	<div id="wrapper">
		
<!------------Rules Button------------->

		<div class="box" style="height:250px;width:220px; border-style:solid; border-color:black;border-width:thin; margin-top:260px; margin-left:20px; margin-bottom:40px; position:fixed;overflow:scroll;">
		<p id ="writing" style="font-size:1em; color:rgba(51, 153, 204, 1);">Hey there, this is Richie im a bot. I'm created to guide you through this process. Feel free to ask me questions anytime, I'm powered by Artificial Intelligence.</p>
	
		</div>
<!--Chat bot begin-->
<!--	<div class="container bootstrap snippet" style="height:250px;width:260px; margin-top:260px; margin-left:20px; margin-bottom:40px; position:fixed;">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <div class="portlet portlet-default">-->
<!--                <div class="portlet-heading">-->
<!--                    <div class="portlet-title">-->
<!--                        <h4><i class="fa fa-circle text-green"></i> Jane Smith</h4>-->
<!--                    </div>-->
<!--                    <div class="portlet-widgets">-->
<!--                        <div class="btn-group">-->
<!--                            <button type="button" class="btn btn-white dropdown-toggle btn-xs" data-toggle="dropdown">-->
<!--                                <i class="fa fa-circle text-green"></i> Status-->
<!--                                <span class="caret"></span>-->
<!--                            </button>-->
<!--                            <ul class="dropdown-menu" role="menu">-->
<!--                                <li><a href="#"><i class="fa fa-circle text-green"></i> Online</a>-->
<!--                                </li>-->
<!--                                <li><a href="#"><i class="fa fa-circle text-orange"></i> Away</a>-->
<!--                                </li>-->
<!--                                <li><a href="#"><i class="fa fa-circle text-red"></i> Offline</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <span class="divider"></span>-->
<!--                        <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
<!--                <div id="chat" class="panel-collapse collapse in">-->
<!--                    <div>-->
<!--                    <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <p class="text-center text-muted small">January 1, 2014 at 12:23 PM</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="media">-->
<!--                                    <a class="pull-left" href="#">-->
<!--                                        <img class="media-object img-circle" src="http://lorempixel.com/30/30/people/1/" alt="">-->
<!--                                    </a>-->
<!--                                    <div class="media-body">-->
<!--                                        <h4 class="media-heading">Jane Smith-->
<!--                                            <span class="small pull-right">12:23 PM</span>-->
<!--                                        </h4>-->
<!--                                        <p>Hi, I wanted to make sure you got the latest product report. Did Roddy get it to you?</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="media">-->
<!--                                    <a class="pull-left" href="#">-->
<!--                                        <img class="media-object img-circle" src="http://lorempixel.com/30/30/people/7/" alt="">-->
<!--                                    </a>-->
<!--                                    <div class="media-body">-->
<!--                                        <h4 class="media-heading">John Smith-->
<!--                                            <span class="small pull-right">12:28 PM</span>-->
<!--                                        </h4>-->
<!--                                        <p>Yeah I did. Everything looks good.</p>-->
<!--                                        <p>Did you have an update on purchase order #302?</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="media">-->
<!--                                    <a class="pull-left" href="#">-->
<!--                                        <img class="media-object img-circle" src="http://lorempixel.com/30/30/people/7/" alt="">-->
<!--                                    </a>-->
<!--                                    <div class="media-body">-->
<!--                                        <h4 class="media-heading">Jane Smith-->
<!--                                            <span class="small pull-right">12:39 PM</span>-->
<!--                                        </h4>-->
<!--                                        <p>No not yet, the transaction hasn't cleared yet. I will let you know as soon as everything goes through. Any idea where you want to get lunch today?</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="portlet-footer">-->
<!--                        <form role="form">-->
<!--                            <div class="form-group">-->
<!--                                <textarea class="form-control" placeholder="Enter message..."></textarea>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <button type="button" class="btn btn-default pull-right">Send</button>-->
<!--                                <div class="clearfix"></div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- /.col-md-4 -->
<!--    </div>-->
<!--</div>       -->
<!--Chat BOt end-->
		<a id="next" class="btn btn-default btn-lg" style="white-space: normal; margin-top:520px; margin-left:170px; margin-bottom:40px; position:fixed;"><h4>Next</h4></a>
<!------------------------->
	
	<div id="page-wrapper">
	<div class="content-main" style="background:white">

 
  <%= render partial: '/layouts/progressboxes' %>
  <%= yield %>

	 
<!---->

<!------------Footer------------->

	<div class="copy" style="text-align:right; padding-right:15px;">
    <p>2017 Fiduty - all rights reserved</p>
	<div class="clearfix"> </div>
<!------------------------->
	
</div>
</div>
</div>
<!---->
</body>
</html>